@{
    ViewData["Title"] = "Error handling page";
}

<h2>
    Hello dear! Unfrotunately we are in trouble!
</h2>

<hr />
<h3 style="color: red;">@ViewBag.Message</h3>

<hr />
<a asp-controller="@ViewBag.Controller" asp-action="Select" class="btn btn-primary mb-3">Confirm and Return</a>