@using PMSWeb.ViewModels.JobOrderVM
@model PartialViewModel

<form asp-action="ConfirmSparesUsed" method="post">
    <h4>Spares Used</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Available</th>
                <th>Units</th>
                <th>Used</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.InventoryList.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="InventoryList[i].Id" />
                        @($"{i + 1}")
                    </td>
                    <td>
                        <input asp-for="InventoryList[i].Name" class="form-control" readonly />
                    </td>
                    <td>
                        <input asp-for="InventoryList[i].Available" class="form-control" readonly />
                    </td>
                    <td>
                        <input asp-for="InventoryList[i].Units" class="form-control" readonly />
                    </td>
                    <td>
                        <input asp-for="InventoryList[i].Used" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" asp-for="EquipmentId" />
    <input type="hidden" asp-for="JobId" />
    <button type="submit" class="btn btn-info">Confirm</button>
</form>
@if (Model.InventoryList.Count() == 0)
{
    <h3>No Spareparts for this Equipment!</h3>
}