@using PMSWeb.ViewModels.RM
@model RMCreateViewModel

@{
    ViewData["Title"] = "Create Routine Maintenance";
    var positions = Model.Positions as List<string>;
}


<h2>Create Routine Maintenance</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastCompletedDate" class="control-label"></label>
        <input asp-for="LastCompletedDate" class="form-control" type="date" />
        <span asp-validation-for="LastCompletedDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Interval" class="control-label">Interval (days)</label>
        <input asp-for="Interval" class="form-control" type="number" />
        <span asp-validation-for="Interval" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResponsiblePosition" class="control-label">Responsible Person (Please Select One Of The Options:) </label>
        <input asp-for="ResponsiblePosition" class="form-control" list="positionOptions"/>
        <datalist id="positionOptions">
            @if (positions != null)
            {
                @foreach (var position in positions)
                {
                    <option value="@position">@position</option>
                }
            }
        </datalist>
        <span asp-validation-for="ResponsiblePosition" class="text-danger"></span>
    </div>
    
    <div style="margin-top:0.5em;">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Select" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
