@using PMSWeb.ViewModels.Manual
@model ManualCreateViewModel

@{
    ViewData["Title"] = "Create Manual";
}

<h2>Create New Manual</h2>
@if (string.IsNullOrWhiteSpace(Model.ContentURL))
{
    <h3 style="color: lightcoral; margin-top: 1em;">Please upload the file first and then fill up the other fields!</h3>
}

<form asp-action="Create" method="post">
    <div style="margin: 2em auto">
        <div class="form-group">
            <label asp-for="ContentURL" class="control-label">Specify Content URL:  or  Upload File (*.pdf)</label>
            <input asp-for="ContentURL" class="form-control" readonly />
            <span asp-validation-for="ContentURL" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label class="control-label">Upload File</label>
            <a asp-action="Upload" class="btn btn-secondary">Upload File</a>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ManualName" class="control-label"></label>
        <input asp-for="ManualName" class="form-control" />
        <span asp-validation-for="ManualName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MakerId" class="control-label">Maker</label>
        <select asp-for="MakerId" class="form-control" asp-items="@(new SelectList(Model.Makers,"Id", "Name"))">
            <option value="">-- Select Maker --</option>
        </select>
        <span asp-validation-for="MakerId" class="text-danger"></span>
    </div>

    @if (Model.Makers.Count() == 0)
    {
        <h3 style="color:lightcoral; margin-top:1em;">There are no Makers Created Yet!</h3>
        <h3 style="color:lightcoral; margin-bottom:1em;">Please create some Makers first.</h3>
    }

    <div class="form-group">
        <label asp-for="EquipmentId" class="control-label">Equipment</label>
        <select asp-for="EquipmentId" class="form-control" asp-items="@(new SelectList(Model.Equipments, "Id", "Name"))">
            <option value="">-- Select Equipment --</option>
        </select>
        <span asp-validation-for="EquipmentId" class="text-danger"></span>
    </div>

    @if (Model.Equipments.Count() == 0)
    {
        <h3 style="color:lightcoral; margin-top:1em;">There are no Equipments Created Yet!</h3>
        <h3 style="color:lightcoral; margin-bottom:1em;">Please create some Equipments first.</h3>
    }

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Select" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
