@using Microsoft.AspNetCore.Identity
@using PMS.Data.Models.Identity
@inject SignInManager<PMSUser> SignInManager
@inject UserManager<PMSUser> UserManager

@{
    ViewBag.Title = "Dashboard";
}
<h1 style="display:block; max-width:450px; color:darkslateblue; font-weight: bold; margin: 1em auto;">Welcome to Dashboard</h1>
<div style="margin-bottom: 15em;">
    <aside class="container-fluid" style="border-radius:0.5em;">
        <div>
            <div class="dropdown">
                <button>Creators Page</button>
                <div class="content">
                    <a class="butn btn-info" asp-controller="Home" asp-action="CreatorPage">Creator's Page</a>
                    <a class="butn btn-info" asp-controller="Home" asp-action="CreatorHelpNotes">Help Notes</a>
                </div>
            </div>
        </div>
        <div>
            <div class="dropdown">
                <button>Jobs Handling</button>
                <div class="content">
                    <a class="butn btn-info" asp-controller="JobOrder" asp-action="SelectDueJobs">Jobs For Today</a>
                    <a class="butn btn-info" asp-controller="JobOrder" asp-action="SelectHistory">JobsHistory</a>
                    <a class="btn btn-info" asp-controller="JobOrder" asp-action="Select">All Scheduled</a>
                    <a class="butn btn-warning" asp-controller="JobOrder" asp-action="AddEquipment">Create Job Order</a>
                </div>
            </div>
        </div>

        <div>
            <div class="dropdown">
                <button>Inventory</button>
                <div class="content">
                    <a class="butn btn-info" asp-controller="Inventory" asp-action="SparesInventory">Spares Inventory</a>
                    <a class="butn btn-info" asp-controller="Inventory" asp-action="ConsumablesInventory">Consumables Inventory</a>
                </div>
            </div>
        </div>
        <div>
            <div class="dropdown">
                <button>Purchasing</button>
                <div class="content">
                    <a class="butn btn-info" asp-controller="Requisition" asp-action="CreateSpareparts">Create <span style="font-weight:bold; color: darkmagenta;">SpareParts</span> Requisition</a>
                    <a class="butn btn-info" asp-controller="Requisition" asp-action="CreateConsumables">Create <span style="font-weight:bold; color: blue;">Consumables</span> Requisition</a>
                    <a class="butn btn-info" asp-controller="Requisition" asp-action="Select">All Requisitions List</a>
                    <a class="butn btn-success" asp-controller="Requisition" asp-action="SelectReadyForApproval">Ready For Approval</a>
                    <a class="butn btn-info" asp-controller="Requisition" asp-action="SelectAlreadyApproved">Completed Requisitions</a>
                </div>
            </div>
        </div>
    </aside>
</div>


<div class="statistics-container">
    <a class="btn btn-primary statistics-button" asp-controller="Home" asp-action="Statistics">Show Statistics</a>
</div>



<style>
    html, body {
        background-color: darkgrey;
    }

    .dropdown {
        display: inline-block;
        margin: 0 auto;
    }

        .dropdown button {
            background-color: grey;
            padding: 0.5em;
            cursor: pointer;
            width: 15em;
            border-radius: 0.5em;
            font-weight: 600;
            opacity: 100%;
        }

        .dropdown a {
            display: block;
            color: black;
            text-decoration: none;
            font-size: 16px;
            padding: 0.5em 1em;
            margin-top: 0.5em;
            border: 2px solid white;
            border-radius: 0.5em;
        }

        .dropdown .content {
            display: none;
            position: absolute;
        }

        .dropdown:hover .content {
            display: flex;
            flex-direction: column;
            z-index: 1;
            background-color: transparent;
            width: 15em;
            text-align: center;
        }

        .dropdown:hover button {
            background-color: lightgray;
            transition: 0.5s ease-in;
        }

        .dropdown a:hover {
            border: 1px solid black;
        }

    aside {
        padding: 2em;
        background-color: lightgray;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2em;
    }

    .statistics-container {
        margin: 2em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightslategray;
        border-radius: 3em;
        padding: 2em;
        max-width: 600px;
    }

    .statistics-button {
        font-size: 1.5em;
        padding: 0.5em 2em;
        background-color: #007bff;
        color: white;
        border-radius: 0.5em;
        text-align: center;
        text-decoration: none;
    }

        .statistics-button:hover {
            background-color: #0056b3;
        }

</style>


