
<style>

    ul{
       list-style: none;
    }

</style>

<h1>Dashboard Page for Testing</h1>
<div class="container-fluid">
    <nav>
        <ul style="display: flex; flex-direction:column; gap: 1em;">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Consumable" asp-action="Select">Consumables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Equipment" asp-action="Select">Equipment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Maker" asp-action="Select">Maker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Manual" asp-action="Select">Manual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="RM" asp-action="Select">RM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="SM" asp-action="Select">SM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Sparepart" asp-action="Select">Sparepart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="Select">Supplier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="City" asp-action="Select">City</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Country" asp-action="Select">Country</a>
            </li>
        </ul>

    </nav>

</div>

